@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: rgb(10, 17, 22) !important;
    color: white !important;
}

header {
    padding: 5px 20px;
    font-family: 'Montserrat', sans-serif;
}

.navitemsul li {
    margin-right: 25px;
}

.navitemsul li a {
    color: rgb(204, 204, 204);
}

.navitemsul li a:hover {
    color: white;
}



.navbar-brand {
    font-size: 40px !important;
    color: rgb(13, 186, 255) !important;
    font-weight: bold;
}



.section1 {
    padding: 40px 20px 40px 20px;
    font-family: 'Montserrat', sans-serif;
}

.titlediv {
    font-size: 65px;
    font-weight: bold;
    color: rgb(0, 209, 216);
    margin-bottom: 14px;
    margin-top: 60px;
}

.section1subtitlemainspan {
    background-color: gray;
    padding: 6px 10px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

.section1spanPinksale {
    text-decoration: none !important;
    color: white;

}


.titledefinition {
    margin-bottom: 20px;
    line-height: 28px;
    width: 60%;
    word-break: keep-all;
    color: #bdbdbd;

}

.whitepaperbtn {
    padding: 10px 40px !important;
    background-color: rgb(0, 209, 216) !important;
    color: black !important;
    border-radius: 10px !important;
    margin-bottom: 40px;
    border: none !important;

}
.section1row2datadefinition{
    color: #bdbdbd;
}

.section1robotimage {
    width: 100%;
}

.section1row2 {
    padding: 60px 60px;
}

.eachinnerrowsection1 {
    /* margin-bottom: 25px; */
    padding: 15px;
    border-radius: 15px;
}

.eachinnerrowsection1:hover {
    background-color: rgba(60, 60, 60, 0.473);
}



.section1row2dataterm {
    font-size: 20px;
}

.section2 {
    padding: 0px 20px 40px 20px;
    font-family: 'Montserrat', sans-serif;
}

.section2titlediv {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 60px;
}

.section2datadefiniton {
    line-height: 30px;
    word-break: keep-all;
    color: #bdbdbd;
}

.section2image {
    width: 90%;

}

.section3 {
    padding: 40px 20px;
    font-family: 'Montserrat', sans-serif;
}

.section3image {
    width: 100%;
}

.section3title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 50px;
}

.section3infodiv {
    line-height: 30px;
    margin-bottom: 20px;
}

.section3infodiv span {
    display: block;
    color: #bdbdbd;
}

.section3smartspan1 {
    word-break: break-all;

}

.section3btn {
    margin-bottom: 80px;
}

.section4 {
    padding: 40px 20px;
    font-family: 'Montserrat', sans-serif;
}

.section4title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section4image {
    width: 100%;
}

.section4row2title {
    font-size: 45px;
    font-weight: bold;
    text-align: left;
    margin-top: 12px;
    text-align: center;
}

.section4row2datadefi {
    line-height: 30px;
    width: 80%;
    color: #bdbdbd;
}

.section4row2 {
    padding: 40px 60px 40px unset;
    margin-top: 60px !important;
}

.section5 {
    padding: 40px 30px;
    font-family: 'Montserrat', sans-serif;
}

.section5eachcol {
    background-color: #3b919345;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 30px !important;
    border-radius: 12px;
    color: rgb(255, 255, 255);
}

.section5eachcol:hover {
    background-color: #c4c4c445;

}

.section5dateterm {
    margin-bottom: 20px;
}


.section5datadefi {
    line-height: 28px;
}

.section6 {
    padding: 40px 40px !important;
    font-family: 'Montserrat', sans-serif;
}

.section6row {
    background-color: #c4c4c427 !important; 
}

.section6title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 15px;

}

.section6datadefi {
    width: 80%;
    line-height: 30px;
    color: #bdbdbd;
}

.section6btn {
    margin-left: 10px !important;
    margin-top: 90px !important;
}

.section6row {
    background-color: rgb(165, 165, 165);
    padding: 40px 50px !important;
    border-radius: 16px;
}

footer {
    padding: 40px 40px;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.footermainspan {
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
}

.footerbrandspan,
.footerlogspan {
    display: inline-block;
    color: rgb(13, 186, 255);
}


.footerul li {
    list-style: none;
    margin-bottom: 10px;
    color: #bdbdbd;
}

.footerul li:first-child {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.footerul li:last-child {
    padding-bottom: 28px;
}


.footerbottumul li {
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-size: 20px;
}


.footerbottumul {
    text-align: right;
}

.footerdataterm{
    color: #bdbdbd;;
}


.footerbottempart {
    border-top: 1px solid #636363 !important;
    padding: 25px 10px;
}

@media screen and (max-width:400px) {
    header {
        padding: unset;
        text-align: center;
    }

    .navbar-toggler {
        border: none !important;
        background-color: #636363 !important;
    }

    .section4row2title{
        text-align:left;
    }
    .section1 {
        padding: unset;
        padding: 15px;
    }

    .titledefinition {

        width: 100%;
    }

    .section1row2 {
        padding: unset;
    }

    .section1robotimage {
        margin-bottom: 20px;
    }

    .section2titlediv {
        margin-top: 0;
    }

    .section2 {
        padding-bottom: unset;
    }

    .section3title {
        margin-top: 10px;
    }

    .section3 {
        padding: unset;
        padding: 20px;
    }

    .section4row2title {
        margin-top: 0;
    }

    .section4 {
        padding-bottom: unset;
    }

    .section5 {
        padding-bottom: unset;
    }

    .section6row {
        padding: 20px !important;
    }

    .section6btn {
        margin-left: 0 !important;
        margin-top: 20px !important;
        margin-bottom: 30px !important;
    }

    .section6row {
        padding: unset !important;
    }

    .footercopyright {
        text-align: center;
    }

    .footerbottumul {
        text-align: center;
    }

    .footerdataterm {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:801px)
{
    .section4row2title{
        text-align:left;
    }
}
